.flexBoxCenter{
    display:flex;
    justify-content:center;
    align-items:center;
}
.flexColumnWrap{    
    flex-flow:column wrap;
}
.flexRowWrap{
    flex-flow:row wrap;
}
a{
    color:black;
}
p{
    text-align:center;
}
h2{
    text-decoration: underline;
    color:#00284d;
}