body{
    background-image:linear-gradient(45deg,#75BAFF,#e6f3ff,#75BAFF);
}
.ul1{
    padding:0px;
    margin:0px;   
    list-style-type:none;   
}
li.ul1{
    float:left;
    padding-right:5px;
}
main{
    margin:10px;
}
h1{
    background-color:#00284d;
    color:white;
    margin:0px;
    border-radius:45px;
}
img{
    margin:10px;
    border-radius:45px;
}