body{
    background-image:linear-gradient(140deg,#75BAFF,#e6f3ff,#75BAFF);
}
.myFavTh{
    background-image: url(https://i.pinimg.com/originals/1f/db/ea/1fdbeaf5fde2f65d62be57a306767fd4.jpg);
    border-radius: 25px;
    background-position: left top;
    background-repeat:repeat;
}
h1{
    text-decoration: underline;
    color:#00284d;
    background-color:#e6f3ff;
    border-radius:25px;
}
ul{
    background-color:#e6f3ff;
    border-radius:25px;
}
p{
    margin:10px;
}
iframe{
    margin:20px;
}
table{
    margin:10px;
}
.tr1{
    background-color: #3366ff;
}
